In [1]:
import os
import pandas as pd
import numpy as np
import random
import gc
from datetime import datetime
from tqdm import tqdm
import matplotlib.pyplot as plt
from gensim.corpora import WikiCorpus
from gensim.models import Word2Vec
from gensim.models.word2vec import LineSentence
from sklearn.feature_extraction.text import TfidfVectorizer
from  collections import Counter

np.random.seed(2019)
random.seed(2019)
pd.set_option('display.max_rows', 4)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 280)
pd.set_option('display.max_colwidth', 150)
data_path = '/data/workspace/kimi/tencent_ads/2020/dataset'
preprocess_path = 'preprocess'

In [2]:
def get_merged_log(flag):
    merged= f'{flag}_merged_log.pkl'
    merged_path = f'{preprocess_path}/{merged}'
    merged_df = pd.read_pickle(merged_path)
    print(merged_df)
    return merged_df

In [3]:
train_merged_log_df = get_merged_log('train')
test_merged_log_df = get_merged_log('test')
total_merged_df = pd.concat([train_merged_log_df,test_merged_log_df]).sort_values(by='time')
print(total_merged_df)

del train_merged_log_df
del test_merged_log_df
gc.collect()

          time   user_id  creative_id  click_times      ad_id  product_id  product_category  advertiser_id  industry
0          9.0   30920.0     567330.0          1.0   504423.0     30673.0               3.0        32638.0     319.0
1         15.0  320815.0     567330.0          1.0   504423.0     30673.0               3.0        32638.0     319.0
...        ...       ...          ...          ...        ...         ...               ...            ...       ...
30082769  50.0  309198.0    2386973.0          1.0  2057811.0      1946.0               2.0        17757.0     259.0
30082770  12.0   30920.0     717026.0          1.0   634512.0        -1.0              18.0        26466.0     126.0

[30082771 rows x 9 columns]
          time  user_id  creative_id  click_times   ad_id  product_id  product_category  advertiser_id  industry
0           20  3131989       645764            1  573314          58                 2          14689         6
1           10  3142948       645764            1  573314          58                 2          14689         6
...        ...      ...          ...          ...     ...         ...               ...            ...       ...
33585510    16  3131984       900585            1  793805        1766                 2          33097       319
33585511    16  3131988       899450            1  792851          -1                18          22897        47

[33585512 rows x 9 columns]
          time    user_id  creative_id  click_times      ad_id  product_id  product_category  advertiser_id  industry
2134125    1.0  3969503.0     146454.0          1.0   131508.0        -1.0              18.0        34137.0      40.0
25196907   1.0     2267.0     249047.0          1.0   223979.0      1927.0               2.0        15784.0     322.0
...        ...        ...          ...          ...        ...         ...               ...            ...       ...
23168403  91.0   498277.0    3877769.0          1.0  3331468.0     26858.0               3.0           23.0      60.0
13125865  91.0   141441.0    4329985.0          1.0  3712996.0     39503.0              17.0        13328.0      -1.0

[63668283 rows x 9 columns]

14

In [10]:
ad_id_grouped_df = total_merged_df.groupby(['ad_id']).time.count().sort_values()
print(len(ad_id_grouped_df))
print(len(ad_id_grouped_df[ad_id_grouped_df > 50]))
print(len(ad_id_grouped_df[ad_id_grouped_df > 100]))

3027360
138854

In [4]:
grouped_df = total_merged_df.groupby(['user_id', 'ad_id']).agg({'time':max,'click_times':sum})
print(grouped_df)

                     time  click_times
user_id   ad_id
1.0       66210.0    43.0          1.0
          82421.0    52.0          1.0
...                   ...          ...
4000000.0 3135640.0  75.0          1.0
          3181227.0  77.0          1.0

[58270928 rows x 2 columns]

In [9]:
grouped_user_df = total_merged_df.groupby(['user_id']).agg({'time':['max','count'], 'click_times':sum,'ad_id':pd.Series.nunique})
print(grouped_user_df)

           time       click_times   ad_id
            max count         sum nunique
user_id
1.0        76.0    13        14.0    12.0
2.0        90.0    45        46.0    42.0
3.0        88.0    30        30.0    30.0
4.0        84.0    29        29.0    29.0
5.0        87.0    33        34.0    33.0
6.0        88.0    17        17.0    16.0
7.0        88.0    10        10.0    10.0
8.0        90.0    49        52.0    48.0
9.0        86.0    20        21.0    17.0
10.0       91.0    10        10.0     9.0
...         ...   ...         ...     ...
3999991.0  86.0    19        19.0    16.0
3999992.0  89.0    16        16.0    16.0
3999993.0  79.0    25        25.0    21.0
3999994.0  89.0    39        39.0    35.0
3999995.0  91.0    49        52.0    47.0
3999996.0  90.0    66        75.0    65.0
3999997.0  89.0    20        20.0    18.0
3999998.0  90.0    19        20.0    18.0
3999999.0  91.0    80        86.0    79.0
4000000.0  77.0    63        67.0    63.0

[1900000 rows x 4 columns]

In [10]:
grouped_user_df.columns = [ '_'.join(i) for i in grouped_user_df.columns.values]
print(grouped_user_df)

           time_max  time_count  click_times_sum  ad_id_nunique
user_id
1.0            76.0          13             14.0           12.0
2.0            90.0          45             46.0           42.0
3.0            88.0          30             30.0           30.0
4.0            84.0          29             29.0           29.0
5.0            87.0          33             34.0           33.0
6.0            88.0          17             17.0           16.0
7.0            88.0          10             10.0           10.0
8.0            90.0          49             52.0           48.0
9.0            86.0          20             21.0           17.0
10.0           91.0          10             10.0            9.0
...             ...         ...              ...            ...
3999991.0      86.0          19             19.0           16.0
3999992.0      89.0          16             16.0           16.0
3999993.0      79.0          25             25.0           21.0
3999994.0      89.0          39             39.0           35.0
3999995.0      91.0          49             52.0           47.0
3999996.0      90.0          66             75.0           65.0
3999997.0      89.0          20             20.0           18.0
3999998.0      90.0          19             20.0           18.0
3999999.0      91.0          80             86.0           79.0
4000000.0      77.0          63             67.0           63.0

[1900000 rows x 4 columns]

In [16]:
user_value_counts = grouped_user_df['time_count'].value_counts().sort_index().reset_index().rename(columns={'index':'click_event_count','time_count':'click_event_count_uv'})
user_value_counts['click_event_count_uv_cumsum'] = user_value_counts['click_event_count_uv'].cumsum()

#.sort_index().reset_index().rename(columns={'index':'ad_id_count','ad_id':'ad_id_count_size'})
#value_counts['ad_id_count_size_cumsize'] = value_counts['ad_id_count_size'].cumsum()
print(user_value_counts)
for p in [(i +1) * 0.1 for i in  range(9)] + [(i +1) * 0.01 + 0.9 for i in  range(9)]:
    pr=round(p,3)
    pv = user_value_counts['click_event_count_uv_cumsum'].quantile(pr,interpolation='nearest')
    c = user_value_counts[user_value_counts['click_event_count_uv_cumsum'] == pv]['click_event_count'].values[0]
    #pvr = round(pv,3)
    print(f'quantile {pr} :{c}')

     click_event_count  click_event_count_uv  click_event_count_uv_cumsum
0                    2                     3                            3
1                    3                    11                           14
2                    4                    27                           41
3                    5                    82                          123
4                    6                   248                          371
5                    7                  1232                         1603
6                    8                  4776                         6379
7                    9                 22055                        28434
8                   10                 77471                       105905
9                   11                 93286                       199191
..                 ...                   ...                          ...
674               2064                     1                      1899991
675               2108                     1                      1899992
676               2295                     1                      1899993
677              10318                     1                      1899994
678              11116                     1                      1899995
679              16868                     1                      1899996
680              18178                     1                      1899997
681              25506                     1                      1899998
682              26609                     1                      1899999
683             113974                     1                      1900000

[684 rows x 3 columns]
quantile 0.1 :70
quantile 0.2 :139
quantile 0.3 :207
quantile 0.4 :275
quantile 0.5 :344
quantile 0.6 :412
quantile 0.7 :482
quantile 0.8 :566
quantile 0.9 :751
quantile 0.91 :778
quantile 0.92 :815
quantile 0.93 :882
quantile 0.94 :911
quantile 0.95 :946
quantile 0.96 :1066
quantile 0.97 :1211
quantile 0.98 :1532
quantile 0.99 :2295

In [27]:
print(user_value_counts[user_value_counts.click_event_count > 10])

     click_event_count  click_event_count_uv  click_event_count_uv_cumsum  click_event_count_uv_cumsum_percent
9                   11                 93286                       199191                             0.104837
10                  12                 87214                       286405                             0.150739
11                  13                 81029                       367434                             0.193386
12                  14                 76229                       443663                             0.233507
13                  15                 70573                       514236                             0.270651
14                  16                 66238                       580474                             0.305513
15                  17                 62740                       643214                             0.338534
16                  18                 57944                       701158                             0.369031
17                  19                 55232                       756390                             0.398100
18                  20                 52154                       808544                             0.425549
..                 ...                   ...                          ...                                  ...
674               2064                     1                      1899991                             0.999995
675               2108                     1                      1899992                             0.999996
676               2295                     1                      1899993                             0.999996
677              10318                     1                      1899994                             0.999997
678              11116                     1                      1899995                             0.999997
679              16868                     1                      1899996                             0.999998
680              18178                     1                      1899997                             0.999998
681              25506                     1                      1899998                             0.999999
682              26609                     1                      1899999                             0.999999
683             113974                     1                      1900000                             1.000000

[675 rows x 4 columns]

In [6]:
grouped_df = grouped_df.sort_values(by=['user_id','click_times','time'],ascending=[True, False,True])
print(grouped_df)

                     time  click_times
user_id   ad_id
1.0       2116146.0  73.0          2.0
          3093461.0  76.0          2.0
...                   ...          ...
4000000.0 2868147.0  76.0          1.0
          3181227.0  77.0          1.0

[58270928 rows x 2 columns]

In [7]:
value_counts = grouped_df.reset_index().groupby(['user_id']).ad_id.count().value_counts().sort_index().reset_index().rename(columns={'index':'ad_id_count','ad_id':'ad_id_count_size'})
value_counts['ad_id_count_size_cumsize'] = value_counts['ad_id_count_size'].cumsum()
print(value_counts)

     ad_id_count  ad_id_count_size  ad_id_count_size_cumsize
0              1                 5                         5
1              2                40                        45
..           ...               ...                       ...
591        16556                 1                   1899999
592        63796                 1                   1900000

[593 rows x 3 columns]

In [23]:
pd.set_option('display.max_rows', 20)
value_counts = grouped_df.reset_index().groupby(['user_id']).ad_id.count().value_counts().sort_index().reset_index().rename(columns={'index':'ad_id_count','ad_id':'ad_id_count_size'})
value_counts['ad_id_count_size_cumsum'] = value_counts['ad_id_count_size'].cumsum()
value_counts['ad_id_count_size_cumsum_percent'] = value_counts['ad_id_count_size_cumsum'] /1900000

#print(len(value_counts))
print(value_counts)
# for p in [(i +1) * 0.1 for i in  range(9)] + [(i +1) * 0.01 + 0.9 for i in  range(9)]:
#     pr=round(p,3)
#     pv = value_counts['ad_id_count_size_cumsum'].quantile(pr,interpolation='nearest')
#     c = value_counts[value_counts['ad_id_count_size_cumsum'] == pv]['ad_id_count'].values[0]
#     #pvr = round(pv,3)
#     print(f'quantile {pr} :{c}')

     ad_id_count  ad_id_count_size  ad_id_count_size_cumsum  ad_id_count_size_cumsum_percent
0              1                 5                        5                         0.000003
1              2                40                       45                         0.000024
2              3               102                      147                         0.000077
3              4               339                      486                         0.000256
4              5               793                     1279                         0.000673
5              6              2131                     3410                         0.001795
6              7              5901                     9311                         0.004901
7              8             16179                    25490                         0.013416
8              9             42758                    68248                         0.035920
9             10             87083                   155331                         0.081753
..           ...               ...                      ...                              ...
583         1423                 1                  1899991                         0.999995
584         1559                 1                  1899992                         0.999996
585         1827                 1                  1899993                         0.999996
586         7013                 1                  1899994                         0.999997
587         7528                 1                  1899995                         0.999997
588        10870                 1                  1899996                         0.999998
589        11639                 1                  1899997                         0.999998
590        15942                 1                  1899998                         0.999999
591        16556                 1                  1899999                         0.999999
592        63796                 1                  1900000                         1.000000

[593 rows x 4 columns]

In [34]:
uv = 30
print(user_value_counts[user_value_counts.click_event_count > uv])
print(value_counts[value_counts.ad_id_count > uv])
print(sum_value_counts[sum_value_counts.click_times_sum > uv])

     click_event_count  click_event_count_uv  click_event_count_uv_cumsum  click_event_count_uv_cumsum_percent
29                  31                 29284                      1228615                             0.646639
30                  32                 27737                      1256352                             0.661238
31                  33                 26608                      1282960                             0.675242
32                  34                 25306                      1308266                             0.688561
33                  35                 23813                      1332079                             0.701094
34                  36                 22840                      1354919                             0.713115
35                  37                 21589                      1376508                             0.724478
36                  38                 20817                      1397325                             0.735434
37                  39                 19824                      1417149                             0.745868
38                  40                 18832                      1435981                             0.755779
..                 ...                   ...                          ...                                  ...
674               2064                     1                      1899991                             0.999995
675               2108                     1                      1899992                             0.999996
676               2295                     1                      1899993                             0.999996
677              10318                     1                      1899994                             0.999997
678              11116                     1                      1899995                             0.999997
679              16868                     1                      1899996                             0.999998
680              18178                     1                      1899997                             0.999998
681              25506                     1                      1899998                             0.999999
682              26609                     1                      1899999                             0.999999
683             113974                     1                      1900000                             1.000000

[655 rows x 4 columns]
     ad_id_count  ad_id_count_size  ad_id_count_size_cumsum  ad_id_count_size_cumsum_percent
30            31             28293                  1298933                         0.683649
31            32             26797                  1325730                         0.697753
32            33             25568                  1351298                         0.711209
33            34             24130                  1375428                         0.723909
34            35             22707                  1398135                         0.735861
35            36             21618                  1419753                         0.747238
36            37             20609                  1440362                         0.758085
37            38             19654                  1460016                         0.768429
38            39             18327                  1478343                         0.778075
39            40             17658                  1496001                         0.787369
..           ...               ...                      ...                              ...
583         1423                 1                  1899991                         0.999995
584         1559                 1                  1899992                         0.999996
585         1827                 1                  1899993                         0.999996
586         7013                 1                  1899994                         0.999997
587         7528                 1                  1899995                         0.999997
588        10870                 1                  1899996                         0.999998
589        11639                 1                  1899997                         0.999998
590        15942                 1                  1899998                         0.999999
591        16556                 1                  1899999                         0.999999
592        63796                 1                  1900000                         1.000000

[563 rows x 4 columns]
     click_times_sum  click_times_sum_uv  click_times_sum_uv_cumsum  click_times_sum_uv_cumsum_percent
21              31.0               29586                    1183908                           0.623109
22              32.0               28183                    1212091                           0.637943
23              33.0               26986                    1239077                           0.652146
24              34.0               25465                    1264542                           0.665548
25              35.0               24427                    1288969                           0.678405
26              36.0               23370                    1312339                           0.690705
27              37.0               22003                    1334342                           0.702285
28              38.0               21467                    1355809                           0.713584
29              39.0               20246                    1376055                           0.724239
30              40.0               19575                    1395630                           0.734542
..               ...                 ...                        ...                                ...
773           2244.0                   1                    1899991                           0.999995
774           2312.0                   1                    1899992                           0.999996
775           3385.0                   1                    1899993                           0.999996
776          12297.0                   1                    1899994                           0.999997
777          13280.0                   1                    1899995                           0.999997
778          21330.0                   1                    1899996                           0.999998
779          23328.0                   1                    1899997                           0.999998
780          33372.0                   1                    1899998                           0.999999
781          35283.0                   1                    1899999                           0.999999
782         194614.0                   1                    1900000                           1.000000

[762 rows x 4 columns]

In [33]:
sum_value_counts = grouped_df.reset_index().groupby(['user_id']).click_times.sum().value_counts().sort_index().reset_index().rename(columns={'index':'click_times_sum','click_times':'click_times_sum_uv'})
sum_value_counts['click_times_sum_uv_cumsum'] = sum_value_counts['click_times_sum_uv'].cumsum()
sum_value_counts['click_times_sum_uv_cumsum_percent'] = sum_value_counts['click_times_sum_uv_cumsum'] / 1900000

print(sum_value_counts)

     click_times_sum  click_times_sum_uv  click_times_sum_uv_cumsum  click_times_sum_uv_cumsum_percent
0               10.0               66967                      66967                           0.035246
1               11.0               91520                     158487                           0.083414
2               12.0               85711                     244198                           0.128525
3               13.0               80204                     324402                           0.170738
4               14.0               75113                     399515                           0.210271
5               15.0               70031                     469546                           0.247129
6               16.0               65808                     535354                           0.281765
7               17.0               61975                     597329                           0.314384
8               18.0               57903                     655232                           0.344859
9               19.0               55006                     710238                           0.373809
..               ...                 ...                        ...                                ...
773           2244.0                   1                    1899991                           0.999995
774           2312.0                   1                    1899992                           0.999996
775           3385.0                   1                    1899993                           0.999996
776          12297.0                   1                    1899994                           0.999997
777          13280.0                   1                    1899995                           0.999997
778          21330.0                   1                    1899996                           0.999998
779          23328.0                   1                    1899997                           0.999998
780          33372.0                   1                    1899998                           0.999999
781          35283.0                   1                    1899999                           0.999999
782         194614.0                   1                    1900000                           1.000000

[783 rows x 4 columns]